@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
    list-style: none;
}

.top{
    background: rgba(243, 235, 243, 0.849);
	width: 100%;
	height: 21px;
	text-align: center;
	font-size: 10px;
	line-height: 18px;
	font-weight: bolder;
}

.logbar{
    background-color: rgb(255, 255, 255);
	width: 100%;
	height: 40px;
}

.logbar a{
    display: inline-block;
    margin: 10px;
    text-align: center;
}


.gauche{
    float: left;
    margin-right: 10px;
}

.droite{
    float: right;
}


.fab{
	color: #005587;
}
.fas{
	color: #005587;
}

.resize{
	width:25px;
    height:15px;
}

nav{
    text-align: center;
}

nav  a:hover{
	background:#005587;
	margin-top: 10px;
}

.menu{
background-color: #005587;
height: 75px;
text-align: center;
}

.menu a{
    display: inline-block;
    margin: 20px;
}

.pts{
    width: 150px;
    height: 35px;
}

.menul{
    text-transform: uppercase;
    color: white;
    float: left;
    letter-spacing: 1.5px;
    text-decoration: none;
    padding-top: 10px;
    line-height: 10px;
}

.menu1{
    text-transform: uppercase;
    float: left;
    letter-spacing: 1.5px;
}

.redim-img{
	text-align: center;
	margin-top: 50px;
}

.header{
    height: 100vh;
	background-image: url(img1.png);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.part{
	background-color: rgb(255, 255, 255);
	width: 100%;
	height: 400px;
}

.part p{
	display: block;
	float: right;
	position: relative;
}

h1{
    color: #005587;
	font-size: 30px;
	margin-left: 250px;
	margin-top: 100px;
}


.video1{
	text-align: center;
	padding-top: 30px;
	padding-bottom:100px;
}

.video1 iframe{
	width:850px;
	height:415px;
}

.header2{
    height: 100vh;
	background-image: url(img2.png);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.part2{
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin:75px;

}

.part2 iframe{
	width: 350px;
	height: 250px;
}
.part2 p{
	padding-top: 25px;
	margin-top: 10px;
	text-align: center;
}

h2{
	position: relative;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: #005587;
    margin-top: 10px;
	margin-left: 10px;
}

h5{
	display: inline-block;
	margin: 130px;
	margin-top: 10px;
}

.backchaussure{
	background-image: url("tel1.png");
	background-size: cover;
	min-height: 650px;
	background-position: center;	
}

.slides{
	width: 100%;
}
.shoes{
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	margin: 25px;
	width: 100%;
}

.shoes img{
	text-align: center;
	width: 400px;
	height: 425px;
}

h6{
	color: rgb(0, 0, 0);
	font-weight: bold;
	margin: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
	top: 20px;
	text-align: center;
	width: 100%;
}

.header3{
    height: 100vh;
	background-image: url(img3.png);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.part3{
	background-color: rgb(255, 255, 255);
	width: 100%;
	height: 300px;

}

.baner {
	font-weight: bold;
	color:#005587 ;
	font-size: x-large;
	letter-spacing: 2px;
    top: 50px;
}

.header4{
    height: 100vh;
	background-image: url(img4.png);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.footer{
	background-color:#005587 ;
	height: 300px;
}

.logomobil{
	text-align: right;
	width: 300px;
    height: 70px;
	margin: 45px;
}

.styletrait{
	width: 95%;
	margin-left: 50px;
}

h3{
	color: white;
	font-weight: bold;
	margin: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
	top: 20px;
}

.media{
    display: none;
}
    
.media2{
    display: none;
}
    
.media3{
    display: none;
}

@media only screen and (max-width: 600px) {

    body{
        overflow: auto;	
    }
    
    header{
        display: none;
    }
    
    
    
    .header{
    display: none;
    }
    
    .redim-img{
        display: block;
        width: 800px;
    }
    .part{
        background-color: rgb(255, 255, 255);
        display: block;
        width: 800px;
        text-align: center;
    }
    
    
    
    .media{
        display: block;
        width: 800px;
    }
    
    .part p{
        display: block;
        width: -200%;
        text-align: center;
        
    }
    
    h1{
        display: inline-block;
        font-size: 30px;
        margin-top: 50px;
        color: #005587;
        font-weight: bold;
        
    }
    
    
    .header2{
      display: none;
    }
    
    .part2{
        display: block;
        width: 700px;
    }
    
    .part2 iframe{
        display: block;
        text-align: center;
        margin-left: 50px;
        margin-left: 25%;
    }
    
    
    .small p{
        padding-top: 25px;
        text-align: center;	
        overflow: hidden;
    }
    
    
    h2{
        position: relative;
        text-align: center;
        color: rgb(255, 255, 255);
        margin-top: 10px;
        margin-left: 5%;
        
    }
    
    .video1{
        text-align: center;
        padding-top: 30px;
        padding-bottom:100px;
        width: 70px;
        margin-left: 20%;
    }
    
    #vyoutube{
        display: block;
        width: 600px;
        height: 350px;
    }
    
    h5{
        display: inline-block;
        margin: 130px;
        margin-top: 10px;
        overflow: hidden;
    }
    
    
    .backchaussure{
    display: none;	
    }
    
    
    
    .shoes{
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        margin: 25px;
        overflow: hidden;
        width: 100%;
        
    }
    
    h6{
        color: rgb(0, 0, 0);
        font-weight: bold;
        margin: 25px;
        padding-top: 20px;
        padding-bottom: 20px;
        top: 20px;
        text-align: center;
    }
    
    .media2{
        display: block;
        width: 800px;
    }
    
    .header3{
    display: none;
    }
    
    .part3{
        background-color: rgb(255, 255, 255);
        display: block;
        width: 800px;
    }
    
    .media3{
        display: block;
        width: 800px;
    }
    .header4{
        display: none;
    }
    
    .baner {
        font-weight: bold;
        color:#005587 ;
        font-size: x-large;
        letter-spacing: 2px;
        top: 30px;
        text-align: center;
        
    }
    
    .footer{
        background-color:#005587 ;
        height: 300px;
        width: 800px;
    }
    
    .logomobil{
        text-align: right;
        width: 300px;
        height: 70px;
        margin: 50px;
    }
    
    .styletrait{
        width: 95%;
        margin-left: 10px;
    }
    
    h3{
        color: rgb(0, 0, 0);
        font-weight: bold;
        margin: 25px;
        padding-top: 20px;
        padding-bottom: 20px;
        top: 20px;
        text-align: center;
    }
    
    .slides{
        display: block;
        width: 800px;
    }
    
    .move{
        position: relative;
        display: block;
        animation: move 5s infinite;
        width: 500%;
        height: 425%;
      }
    
      @keyframes move {
    
        from {right: -10px;}
        50% {right: 200px !important;} /* ignored */
        to {right: 1000px;}
      }
    
    }