@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
    list-style: none;
}

.top{
    background: rgba(243, 235, 243, 0.849);
	width: 100%;
	height: 21px;
	text-align: center;
	font-size: 10px;
	line-height: 18px;
	font-weight: bolder;
}

.logbar{
    background-color: rgb(255, 255, 255);
	width: 100%;
	height: 40px;
}

.logbar a{
    display: inline-block;
    margin: 10px;
    text-align: center;
}


.gauche{
    float: left;
    margin-right: 10px;
}

.droite{
    float: right;
}


.fab{
	color: #005587;
}
.fas{
	color: #005587;
}

.resize{
	width:25px;
    height:15px;
}

nav{
    text-align: center;
}

nav  a:hover{
	background:#005587;
	margin-top: 10px;
}

.menu{
background-color: #005587;
height: 75px;
text-align: center;
}

.menu a{
    display: inline-block;
    margin: 20px;
}

.pts{
    width: 150px;
    height: 35px;
}

.menul{
    text-transform: uppercase;
    color: white;
    float: left;
    letter-spacing: 1.5px;
    text-decoration: none;
    padding-top: 10px;
    line-height: 10px;
}

.menu1{
    text-transform: uppercase;
    float: left;
    letter-spacing: 1.5px;
}